.label {
    font-size: 125%;
    font-weight: 300;
    flex-shrink: 0;
    width: 125%;
}

.button{
    background-color: #EEEEEE;
    font-size: 150%;
    border: 2px solid #5c555536;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 10%;
    margin-left: 60%;
    padding: 10px 30px;
    border-radius: 5px;
}
.button:hover {
    background-color: #345c35; /* Green */
    color: white;
  }
.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 50%;
    margin-top: 14%;
    margin-left: 3%;
}

.input{
    margin-left: 1%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(0, 0, 0);
    font-size: 100%
}
.input:focus {
    border-color: rgb(118, 129, 118)
  }


.title{
    font-size: 150%;
    margin-bottom: 10%;
}

.cols {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -6%;
    
}

.right {
    margin-top: 10%;
    margin-right: 13%;
    width: 30%;
}

.img{
    z-index: -1000;
}
